@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins' , sans-serif;
}
.main{
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f562aaf4-5dbb-4603-a32b-6ef6c2230136/dh0w8qv-9d8ee6b2-b41a-4681-ab9b-8a227560dc75.jpg/v1/fill/w_1280,h_720,q_75,strp/the_netflix_login_background__canada__2024___by_logofeveryt_dh0w8qv-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6Ii9mL2Y1NjJhYWY0LTVkYmItNDYwMy1hMzJiLTZlZjZjMjIzMDEzNi9kaDB3OHF2LTlkOGVlNmIyLWI0MWEtNDY4MS1hYjliLThhMjI3NTYwZGM3NS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.FScrpAAFnKqBVKwe2syeiOww6mfH6avq-DRHZ_uFVNw");
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;

}
body{
    background-color: black;
}
.main .box{
    height: 80vh;
    width: 100%;
    opacity: 0.62;
    background-color: black;
    position: absolute;
    top: 0%;
}
nav{
    max-width: 100vw;
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav img{
    color:red;
    width: 130px;
    position: relative;
    z-index: 10;
    padding: 10px 0px;
}
nav button{
     position: relative;
    z-index: 10;
}
.hero{
      font-family: "Martel Sans", sans-serif;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    font-size: 30px;
    gap: 23px;
    padding: 30px;
}
.hero> :first-child{
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}
.hero> :nth-child(2){
    font-weight: 400px;
    font-size: 24px;
    text-align: center;
}
.hero> :nth-child(3){
    font-weight: 400px;
    font-size: 20px;
    text-align: center;
}
.sepration{
    height: 7px;
    background-color: rgb(84, 84, 84);
    position: relative;
     z-index: 20;
    margin-top: 40px;

}
.btn{
    padding: 3px 8px;
    background-color: rgba(219, 215, 215, 0.422);
    color:white; 
    cursor: pointer;
    background-color: 1px solid rgb(249, 247, 247);
    
    
}
.btn-red{
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
}
.hero-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.main input{
    padding: 7px 101px 8px 14px;
    color: purple;
    font-weight: 900px;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23,  0.7);
    background-color: solid white rgba(213, 210, 210, 0.7);
}
.btn-red-sm{
    background-color: red;
    color: white;
    padding: 3px 8px;
    cursor: pointer;
    background-color: 1px solid rgb(249, 247, 247);
}
.first{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
    gap: 30px; 
    padding-left: 60px;
}
.secImg {
    position: relative;
}

.secImg img {
    margin-top: 50px;
    width: 555px;
    position: relative;
    z-index: 10;
}

.secImg video {
    margin-top: 100px;
    position: absolute;
    top: 82px;
    left: 73px;
    width: 400px;
    z-index: 5;
}
section.first > div{
    display: flex;
    flex-direction: column;
}
section.first > div :nth-child(1){
    font-size: 36px;
    font-weight:bolder;
}
section.first > div :nth-child(2){
    font-size: 18px;
    
}
.FAQh2{
    text-align: center;
    font-size: 78px;
}
.FAQ{
    text-align: center;
    color: white;
    background-color: black;
    padding: 34px;
   
}
.faqbox:hover{
    background-color: rgb(24, 24, 24);
    color: whitesmoke;

}
.faqbox{
    transition: all 1s ease-in-out;
    display: flex;
    background-color: rgb(54, 54, 54);
    justify-content: space-between;
    padding: 24px;
    margin: 34px auto;
    max-width: 40vw;
    cursor: pointer;
}
footer {
    color: rgb(255, 254, 254);
    max-width: 60vw;
    margin: auto;
    padding: 60px;
}

footer .questions {
    padding: 34px 0;
}


.footer-item{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    gap: 10px;
}
footer a {
    color: rgb(179, 179, 179);  
    text-decoration: none;
    font-size: 14px;
}

footer a:hover {
    text-decoration: underline;
}

